header {
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav { 
  text-align: center;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-judul {
  display: flex;
  align-items: center;
  padding: 50px;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 25px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 20px;
}

.bottom-element {
  border: 2px solid #000;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: black; /* Warna teks default */
}

.bottom-element:hover {
  background-color: #0056b3; /* Warna biru lebih gelap saat hover */
  color: white;
}

.bottom-element.active {
  background-color: #0056b3; /* Warna biru untuk tombol aktif */
  color: white; /* Mengubah teks menjadi putih untuk kontras */
}

.daftar-nilai {
  margin-top: auto;
}

.navbar-footer {
  border-top: 2px solid #000;
  height: 110px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.username {
  font-size: 18px;
}