<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/play-list-search.css' rel='stylesheet'>
    <title>Raportia | Tools Rapor</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="name">Raportia</span>
                    <span class="profession">Tools</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search-alt icon'></i>
                    <input id="input1" type="search" placeholder="Cari Data...">
                </li>

                <!-- Link ke Beranda -->
                <li class="nav-link">
                    <a href="{{ url_for('beranda') }}">
                        <i class='bx bxs-home icon'></i>
                        <span class="text nav-text">Beranda</span>
                    </a>
                </li>

                <!-- Link ke Data Siswa -->
                <li class="nav-link">
                    <a href="{{ url_for('data_siswa') }}">
                        <i class='bx bxs-box icon'></i>
                        <span class="text nav-text">Data Siswa</span>
                    </a>
                </li>

                <!-- Link ke Input -->
                <li class="nav-link">
                    <a href="{{ url_for('input') }}">
                        <i class='bx bxs-spreadsheet icon'></i>
                        <span class="text nav-text">Input</span>
                    </a>
                </li>

                <!-- Link ke Cetak -->
                <li class="nav-link">
                    <a href="{{ url_for('cetak') }}">
                        <i class='bx bxs-printer icon'></i>
                        <span class="text nav-text">Cetak</span>
                    </a>
                </li>
            </div>

            <div class="bottom-content">
                <!-- Link ke Daftar Nilai -->
                <li class="nav-link">
                    <a href="{{ url_for('daftar_nilai') }}">
                        <i class='bx bxs-user icon'></i>
                        <span class="text nav-text">Daftar Nilai</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bxs-sun icon moon'></i>
                        <i class='bx bxs-moon icon sun'></i>
                    </div>
                    <span class="mode-text text">Day Mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        {% block content %}
        {% endblock %}
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
