{% extends 'base.html' %}

{% block title %}Data Siswa - My Website{% endblock %}

{% block content %}
<div class="main-section">
    <div class="bar">
        <div class="inbar">
            <div class="left-section">
                <i class='bx bxs-building-house logo'></i>
                <span class='sub'>SD NEGERI JUNGSEMI 1</span>
            </div>
            <span class="sub2">2024/2025</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="left">
        <div class="data-table1">
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Nama Siswa</th>
                        <th>NISN</th>
                        <th>Alamat</th>
                        <th>Edit/Hapus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for siswa in siswa_list %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ siswa.nama }}</td>
                        <td>{{ siswa.nisn }}</td>
                        <td>{{ siswa.alamat }}</td>
                        <td class="action-icons">
                            <i class='bx bxs-message-square-edit edit'></i>
                            <i class='bx bxs-trash-alt hapus'></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="content right">
        <div class="widget">
            <div class="subwidget2">
                <i class='bx bx-chart chart'></i>
            </div>
            <h1 class="header-data">6</h1>
            <p class="foot-data2">Total Guru</p>
        </div>

        <div class="widget">
            <div class="subwidget2">
                <i class='bx bx-dice-3 chart2'></i>
            </div>
            <h1 class="header-data">4</h1>
            <p class="foot-data2">Total Siswa</p>
        </div>
    </div>
</div>
{% endblock %}