<header>
  <nav>
    <div class="navbar-content">
      <div class="navbar-judul">
        <img src="assets/img/logo.png" alt="Logo" class="logo">
        <div class="title-container">
          <h1>RAPORT</h1>
          <h1>TOOLS</h1>
        </div>
      </div>
      <div class="btn">
        <div class="bottom-element">BERANDA</div>
        <div class="bottom-element">DATA SISWA</div>
        <div class="bottom-element">INPUT</div>
        <div class="bottom-element">CETAK</div>
        <div class="bottom-element daftar-nilai">DAFTAR NILAI</div>
      </div>
    </div>
    <div class="navbar-footer">
      <div class="profile-container">
        <img src="assets/img/profile.jpg" alt="Foto Profil" class="profile-pic">
        <h2 class="username">Nama Anda</h2>
      </div>
    </div>
  </nav>
</header>